<%- include ('partials/header') -%>

<div class="container">
  <div class="card">
    <div class="input-form text-white">
      <h1>Please enter valid city name.</h1>
    </div>
  </div>
</div>

<%- include ('partials/footer') -%>
