@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-01: #000; /* #051367 */
  --clr-02: #2d31fa;
  --clr-03: #5d8bf4;
  --clr-04: #dff6ff;
}

body {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

.navbar {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  background-color: var(--clr-01);
}
.navbar .logo a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 800;
  color: var(--clr-04);
  cursor: pointer;
}

.container{
  position: relative;
  display: flex;
  align-items: center;
}


.details {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 65%;
  max-width: 900px;
  height: 600px;
  padding: 65px 50px;
  z-index: 1;
  border-radius: 5px;
}
.text h1 {
  font-size: 3.2rem;
  margin-bottom: 40px;
}
.text h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.text .weather-icon {
  height: 100px;
  width: 100px;
  /* filter: invert(); */
}

.details img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  opacity: 0.8;
  z-index: -1;
}

.card {
  position: relative;
  background-image: url('https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form {
  margin: auto;
  
  width: 40%;
  padding: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.712);
}
.text-white {
  color: #fff;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.form-controls {
  width: 100%;
  margin-top: 30px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  outline: 0;

}

.form-control label {
 font-size: 2rem;
 color: var(--clr-04);
}

.form-control input {
  padding: 10px 20px;
  font-size: 18px;
}
.form-control .btn {
  font-size: 1.5rem;
  background-color: rgba(95, 95, 95, 0.397);
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}